@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500.css');

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}
.app {
  display: none;
  .meta_container {
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 10px;
    background-color: #fff;
    width: 200px;
    font-family: Roboto;
    h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .label {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 3px;
      display: block;
    }
    .value {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }
  .background_container {
    width: 100vw;
    height: 100vh;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
}

@import 'basics.less';