@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500.css');

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}
.app {
  display: none;
  .meta_container {
    background-color: rgba(255, 255, 255, 0.85);
    font-family: Roboto;
    left: 30px;
    padding: 10px;
    position: absolute;
    top: 30px;
    width: 200px;
    h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .label {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 3px;
      display: block;
    }
    .value {
      font-size: 18px;
      display: block;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }
  .chart_container {
    // background-color: rgba(255, 255, 255, 1);
    bottom: 10px;
    height: 300px;
    left: 10px;
    position: absolute;
    width: 600px;
  }

  .background_container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}

@import 'basics.less';